# Dependencies
node_modules/

# Build
dist/
dist-ssr/

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Vite
*.local
